<div class="container w-25">
  <h1>List of all the restaurants:</h1>
  <ul class="list-group mb-5">
    <% @restaurants.each do |restaurant| %>
    <li class="list-group-item" aria-current="true"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end %>
  </ul>
  <%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-outline-primary" %>
</div>
